*{
    margin: 0;
    padding: 0;
}
.nav-list{
    background-color: aquamarine;
    padding: 10px;
    box-shadow: black 2px 2px;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: flex-start;
}
.nav-items{
    color: black;
    list-style: none;
    padding: 7px;
    box-shadow: 2px 2px 1px 0px;
    border-radius: 10px;
    align-items: center;
    margin-left: 5px;
}
.nav-items a{
    text-decoration: none;
    color: black;
}
.nav-items button{
    background-color: aquamarine;
    border-color: aquamarine;
    border-radius: 10px;
}

